<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <!-- 基本情報 -->
        <div class="profile-info">
          <p><strong>基本情報</strong></p>
          <ul>
            <li>埼玉県さいたま市在住</li>
            <li>Email: <a href="mailto:work.yuuki.itoi@gmail.com">work.yuuki.itoi@gmail.com</a></li>
          </ul>
        </div>

        <!-- 職歴 -->
        <div class="career-info">
          <p><strong>職歴</strong></p>
          <ul>
            <li>2022年～現在：株式会社ZEN PLACE</li>
            <li>2019年～2022年：株式会社アーヴァイン・システムズ</li>
            <li>2016年～2019年：中和印刷株式会社</li>
          </ul>
        </div>

        <!-- SNSリンク -->
        <div class="social-links">
          <p><strong>リンク</strong></p>
          <ul>
            <li><a href="https://www.yuki-engineer.com/" target="_blank">ホームページ</a></li>
            <li><a href="https://x.com/haru_tech9999" target="_blank">X (Twitter)</a></li>
            <li><a href="https://docu-trans-wait-list-gqby.vercel.app/ja" target="_blank">DocuTrans (個人開発)</a></li>
            <li><a href="https://fencing-overlay.vercel.app/" target="_blank">フェンシングの試合解説用システム (知人からの依頼で作成)</a></li>
            <li><a href="https://github.com/yuuki999/" target="_blank">GitHub</a></li>
          </ul>
        </div>
        
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <!-- フッター内容を削除 -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
